<style>
  .article-wapper .content:before{
    background-color: #fff;
  }
  
  #top .archive-logo {
    background-image: url("<%- (config.diaspora && config.diaspora.dark_logo) ? config.diaspora.dark_logo : '/assets/images/archive-logo.png'%>") !important;
  }
</style>
<div id="top">
  <a class="archive-logo" href="<%- config.root%>"><%- config.title%></a>
</div>

<div class="article-wapper">
  <!-- 文章正文 -->
  <div class="content">
    <%- page.content%>
  </div>

  <div id="comment"></div>
</div>
<%- partial('tpl/footer'); %>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<%- js('lib/leancloud'); %>
<script>
;(function(window, undefined){

   var leanCloudInit = function(pageId) {
    // 初始化Valine评论.
    leancloud.initValine(pageId);
    // 先添加文章阅读数然后拿到数据,
    leancloud.addCount('read', pageId, function(status, err){
      if(status){
        renderComment(pageId);
      }else{
        console.error(err);
      }
    });
  };

  var pageId = decodeURIComponent(location.pathname);
  leanCloudInit(pageId);
}(window));
</script>