<style>
  .article-wapper .content:before{
    background-color: #fff;
  }
</style>
<div id="top">
  <a class="archive-logo" href="<%- config.root%>"><%- config.title%></a>
</div>

<div class="article-wapper">
  <!-- 文章正文 -->
  <div class="content">
    <%- page.content%>
  </div>

  <div id="comment"></div>
</div>

<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<%- js('lib/leancloud'); %>
<%- js('vendor/qrcode'); %>
<%- partial('tpl/footer'); %>
<%- js('js/post'); %>