<style>
  .article-wapper .content:before{
    background-color: #fff;
  }
</style>
<div id="top">
  <a class="archive-logo" href="<%- config.root%>"><%- config.title%></a>
</div>

<div class="links-wapper">
  <h3>友情链接</h3>
  <ul class="links">
  <%
    for(var i=0; i < config.links.length; i++) {
      var link = config.links[i].item;
  %>
    <li>
      <a href="<%-link.url%>">
        <img src="<%- link.icon%>" title="<%- link.title%>"/>
        <h4><%- link.title%></h4>
        <p><%- link.description%></p>
      </a>
    </li>
  <%
    }
  %>
  </ul>
  
  <div class="link-tips">
    <h4>友链申请</h4>
    <span>先友后链, 需要加友链的盆友请在下方留言, 我将会火速添加~</span>
  </div>

  <div id="comment"></div>
</div>

<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<%- js('lib/leancloud'); %>
<%- partial('tpl/footer'); %>
<script>
;(function(window, undefined){

   var leanCloudInit = function(pageId) {
    // 初始化Valine评论.
    leancloud.initValine(pageId);
    // 先添加文章阅读数然后拿到数据,
    leancloud.addCount('read', pageId, function(status, err){
      if(status){
        renderComment(pageId);
      }else{
        console.error(err);
      }
    });
  };

  var pageId = decodeURIComponent(location.pathname);
  leanCloudInit(pageId);
}(window));
</script>